.bottom-stack {
	position: fixed;
	top: 0;
	right: 0;
	max-width: 400px;
	padding: 10px 20px;
	background-color: rgba(#07772f, .7);
	z-index: 2000;
	.btn {
		color: black;
		background-color: white;
	}
}

#bulkIdList {
	margin: 30px 0;
}