@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
	font-family: 'Roboto', sans-serif !important;
	& > .wrapper {
		overflow: initial;
	}
}

.content-wrapper {
	.nav-tabs > li {
		> a { border-radius: 0; }
		&.active a { border-color: #ddd; }
	}
	.tab-pane {
		.panel {
			border: 0;
		}
		.panel-body {
			background: radial-gradient(circle at top left, rgba(black, .1) 10%, rgba(black, .2) 90%);
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-radius: 0;
		}
		.panel-footer {
			border-radius: 0;
		}
	}
	section.content {
		// filter: drop-shadow(rgba(black, .25) 0 0 30px);
	}
}

textarea {
	resize: vertical;
	max-height: 600px;
	min-height: 60px;
}

// .image-control-grid {
// 	max-width: 900px;
// 	table {
// 		tbody {
// 			tr {
// 				td {
// 					vertical-align: middle;
// 				}
// 			}
// 		}
// 	}
// }

// .sortable-placeholder {
// 	background-color: #d6e4ee !important;
// 	td {
// 		font-size: 20px;
// 	}
// }

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
	background-color: #d65d06 !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
	background-color: #c51e09 !important;	
}

.content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
}

.btn {
	border-radius: 0;
}

.btn-success {
	background-color: #028e00;
	&:hover { background-color: #027e00; }
}

.btn-danger {
	background-color: #c31500;
	&:hover { background-color: #b01000; }
}

.btn-primary {
	background-color: #1c5dbf;
	&:hover { background-color: #1c50b0; }
}

.price-column {
	font-size: 12px;
}

.date-column {
	font-size: 12px;
}

.grid-view {
	table {
		tbody > tr > td {
			vertical-align: middle;
		}
	}
}

@media (min-width: 1299px) {
    // .with-image-aside {
    //     padding-right: 340px;
    // }
}


@import "shop";
