@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
  font-family: 'Roboto', sans-serif !important; }
  body > .wrapper {
    overflow: initial; }

.content-wrapper .nav-tabs > li > a {
  border-radius: 0; }
.content-wrapper .nav-tabs > li.active a {
  border-color: #ddd; }
.content-wrapper .tab-pane .panel {
  border: 0; }
.content-wrapper .tab-pane .panel-body {
  background: radial-gradient(circle at top left, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.2) 90%);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 0; }
.content-wrapper .tab-pane .panel-footer {
  border-radius: 0; }

textarea {
  resize: vertical;
  max-height: 600px;
  min-height: 60px; }

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
  background-color: #d65d06 !important; }

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
  background-color: #c51e09 !important; }

.content-header > .breadcrumb {
  position: relative;
  margin-top: 5px;
  top: 0;
  right: 0;
  float: none;
  background: #d2d6de;
  padding-left: 10px; }

.btn {
  border-radius: 0; }

.btn-success {
  background-color: #028e00; }
  .btn-success:hover {
    background-color: #027e00; }

.btn-danger {
  background-color: #c31500; }
  .btn-danger:hover {
    background-color: #b01000; }

.btn-primary {
  background-color: #1c5dbf; }
  .btn-primary:hover {
    background-color: #1c50b0; }

.price-column {
  font-size: 12px; }

.date-column {
  font-size: 12px; }

.grid-view table tbody > tr > td {
  vertical-align: middle; }

.bottom-stack {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 400px;
  padding: 10px 20px;
  background-color: rgba(7, 119, 47, 0.7);
  z-index: 2000; }
  .bottom-stack .btn {
    color: black;
    background-color: white; }

#bulkIdList {
  margin: 30px 0; }
/*# sourceMappingURL=admin.css.map */